.canvas-container {
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    background-color: #e0e0e0;
}


.container2 {
    margin-left: 35rem;
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    background-color: #e0e0e0;
}